.projects-container {
  background: rgb(46, 51, 57);
  background: linear-gradient(
    180deg,
    rgba(31, 37, 47, 1) 17%,
    rgba(46, 51, 57, 1) 49%,
    rgba(31, 37, 47, 1) 88%
  );

  min-height: 100vh;
  padding: 16px;
  color: white;
  h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  & > div {
    display: flex;
    row-gap: 24px;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      flex: 1;
      background: rgb(30, 33, 39);
      background: linear-gradient(
        180deg,
        rgba(30, 33, 39, 1) 0%,
        rgba(26, 31, 38, 1) 100%
      );
      max-width: 400px;
      min-width: 300px;
      max-height: 500px;
      min-height: 400px;
      padding: 16px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .img-container {
        height: 150px;
      }
      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 16px;
        }
        .btn-container {
          display: flex;
          gap: 10px;
          & > button {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: #363a40;
              color: #fff;
              transform: scale(1.05);
              transition: transform 0.2s;
            }
          }
        }
      }
    }
  }
}
