.project-model-container {
  position: absolute;
  background-color: gray;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
  }
}
